@use "../abstracts/mixins" as *;

.header {
  
  &__link {
    width: 264px;
    position: absolute;
    z-index: 2;

    @include breakpoint-up(medium) {
      left: 39px;
    }

    @include breakpoint-up(large) {
      left: 156px;
    }
  }
  
  &__map {
    width: 100%;
  }
}
